<div class="pbt-test-page__column pbt-test-page__transfer">
  <pbt-panel title="Make a Transfer" icon="assets/icons/arrows.png"
             i18n-title="make a transfer@@test-page.make-a-transfer.title">
    <pbt-transfer-form></pbt-transfer-form>
  </pbt-panel>
</div>
<div class="pbt-test-page__column pbt-test-page__column--stretch pbt-test-page__history">
  <pbt-panel title="Recent Transactions" icon="assets/icons/briefcase.png" class="pbt-panel--big-header"
             i18n-title="recent transaction title@@test-page.recent-transaction.title">
    <pbt-transactions-history></pbt-transactions-history>
  </pbt-panel>
</div>
