:host.pbt-test-page {
  display: flex;
  height: 100%;
}

.pbt-test-page {
  &__column {

    &--stretch {
      flex-grow: 1;
    }
  }

  &__transfer {
  }

  &__history {
    margin-left: 2rem;
    flex-grow: 1;
    max-height: 100%;
    overflow: hidden;

    pbt-panel {
      width: 100%;
      height: 100%;

      ::ng-deep {
        .pbt-panel__body {
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
}
