@use './variables';
@use './utils';

.form {
  &__group {
    display: inline-block;

    margin-bottom: 1rem;

    &--stretch {
      display: block;
      width: 100%;

      .form__field,
      .form__label {
        width: 100%;
      }
    }
  }

  &__label {
    display: block;

    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .7rem;
  }

  &__field {
    display: block;
    @include utils.resetButtonDefaults();

    line-height: 1.5rem;
    border-bottom: 1px solid variables.$border-color;
  }
}
