:host.pbt-root {
  $padding-v: 3rem;
  $padding-h: 4rem;

  display: block;
  height: calc(100% - #{$padding-v} * 2);
  width: calc(100% - #{$padding-h} * 2);
  max-height: 100%;
  max-width: 100%;

  //overflow: auto;
  padding: $padding-v $padding-h;
}

.pbt-root {
  &__main {
    height: 100%;
    width: 100%;
  }
}
