:host.pbt-transactions-history {
  $padding-v: 1.5rem;

  height: calc(100% - #{$padding-v} * 2);
  display: flex;
  flex-direction: column;
  padding: $padding-v 1rem;
}

.pbt-transactions-history {
  &__toolbar {
    display: flex;
    flex-wrap: nowrap;

    margin-bottom: 1rem;

    & > * {
      line-height: 2rem;
    }

    .form__group {
      margin: 0;
    }
  }

  &__sort-label {
    font-size: .7rem;
    font-weight: bold;
    padding: 0 1rem;
    white-space: nowrap;
  }

  &__list {
    overflow: auto;
  }
}
