<div class="pbt-transactions-history__toolbar">
  <div class="form__group">
    <input class="form__field" id="ToAccount" [formControl]="searchField" placeholder="Search by typing...">
  </div>
  <span class="spacer"></span>
  <span class="pbt-transactions-history__sort-label">Sort by</span>
  <div class="buttons-group">
    <button class="button" (click)="sortByDate()">Date</button>
    <button class="button" (click)="sortByBeneficiary()">Beneficiary</button>
    <button class="button" (click)="sortByAmount()">Amount</button>
  </div>
</div>
<div class="pbt-transactions-history__list">
  <pbt-transaction-list-item *ngFor="let transaction of transactions$ | async"
                             [color]="transaction?.categoryCode"
                             [date]="transaction?.dates?.valueDate"
                             [image]="'assets/beneficiaries-icons/' + (transaction?.merchant?.name | nameToImage)"
                             [beneficiary]="transaction?.merchant.name"
                             [paymentType]="transaction?.transaction?.type"
                             [amount]="transaction?.transaction?.amountCurrency?.amount"></pbt-transaction-list-item>
</div>
