<div class="pbt-transactions-history__toolbar">
  <div class="form__group">
    <input class="form__field" id="ToAccount" placeholder="Search by typing...">
  </div>
  <span class="spacer"></span>
  <span class="pbt-transactions-history__sort-label">Sort by</span>
  <div class="buttons-group">
    <button class="button">Date</button>
    <button class="button">Beneficiary</button>
    <button class="button">Amount</button>
  </div>
</div>
<div class="pbt-transactions-history__list">
  <pbt-transaction-list-item *ngFor="let transaction of transactions$ | async"
                             [color]="transaction?.categoryCode"
                             [image]="null"
                             [beneficiary]="transaction?.merchant.name"
                             [paymentType]="transaction?.transaction?.type"
                             [amount]="transaction?.transaction?.amountCurrency?.amount"></pbt-transaction-list-item>
</div>
