:host.pbt-transactions-history {
  display: block;
  padding: 1.5rem 1rem;
}

.pbt-transactions-history {
  &__toolbar {
    display: flex;
    flex-wrap: nowrap;

    margin-bottom: 1rem;

    & > * {
      line-height: 2rem;
    }

    .form__group {
      margin: 0;
    }
  }

  &__sort-label {
    font-size: .7rem;
    font-weight: bold;
    padding: 0 1rem;
  }

  &__list {
  }
}
